RewriteEngine On
RewriteBase /Poseidon-php/S16-PHPOO/10-TP-Transformation/public/

# Si la requête correspond à un fichier ou un dossier réel, on le sert directement
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon, tout est redirigé vers index.php (le front controller)
RewriteRule ^ index.php [QSA,L]